@import url("https://api.fontshare.com/v2/css?f[]=clash-display@300,400,500,600,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #181815;
  margin: 0;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/clash-display.woff2") format("woff2"),
    url("/fonts/clash-display.woff") format("woff");
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}

::-webkit-scrollbar {
  width: 6px;
  background: #0b0a0a; /* Background for the scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #d10202; /* Color for the scrollbar thumb */
  border-radius: 100px; /* Rounded corners for the scrollbar thumb */
}

/* Class to hide scrollbar */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Ensure horizontal scrollbar is hidden while allowing vertical scroll */
.scroll-container {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto; /* Allow vertical scrolling */
}
@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 0.3s ease-out;
}
